{% extends 'app1/templates/base.html' %}

{% block content %}

<center>
<form action="" method="post" enctype="multipart/form-data">
    <h1>  Login </h1>

    {% csrf_token %}

    <label for="">Email</label>
    <input type="email" name="email" id=" "  required><br></br>
    <label for="">Password</label>
    <input type="password" name="password" id="" required><br></br>
    

    <p> If you don't have account <a href=" signUp">SignUp</a></p>
    <input type="submit"  class="btn btn-success"  value="Login">

</form>
</center>

{% endblock %}